@model IEnumerable<SigMonografiasIfma.Models.Professor>

@{
    ViewData["Title"] = "Index";
}

<h1>Professores</h1>

<p>
    <a class="btn criar-button" asp-action="Create">
        <img src="~/imgs/adicionar.png" style="vertical-align: middle; margin-right: 10px;"></img>
        <span style="vertical-align: middle;">adicionar</span>
    </a>

</p>

<br />

<table class="table" id="index-tables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Siap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Siap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campus)
            </td>
            <td>
                <a class="btn edit-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn detalhe-button" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn delete-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
