@model SigMonografiasIfma.Models.Monografia

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<div>
    <h4>Monografia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataApresentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataApresentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtPaginas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtPaginas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Campus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orientador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orientador.Campus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <div style="margin-bottom: 10px;">
            <input type="submit" value="Delete" class="btn delete-button" style="width:140px; display: block; border-radius:10px" />
        </div>

        <div>
            <a class="btn voltar-button" style="display: block; width: 140px" asp-action="Index">
                <img src="~/imgs/volte.png" />
                <span>Voltar</span>
            </a>
        </div>
    </form>

</div>
