@model IEnumerable<SigMonografiasIfma.Models.Monografia>

@{
    ViewData["Title"] = "Index";
}

<div class="mono-index">
    <h1 class="index-title">Monografias</h1>

    <br />

        <a asp-controller="Monografia" asp-action="Create" class="btn criar-button"> 
            <i class="fa-solid fa-plus"></i>
            Cadastrar Monografia 
        </a>
        
    <table class="table" id="index-tables">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataApresentacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtPaginas)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Aluno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orientador)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="my-dropdown">

                        <button onclick="toggleDropdown()">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>

                        <div id="dropdown-menu-id" class="dropdown-menu">
                            <a class="btn dropdown-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn dropdown-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn dropdown-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataApresentacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtPaginas)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Aluno.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orientador.Nome)
                    </td>
                </tr>
                

            }
        </tbody>
    </table>
</div>
