@model IEnumerable<SigMonografiasIfma.Models.Monografia>

@{
    ViewData["Title"] = "Index";
}

<div class="mono-index">
    <h1 class="index-title">Monografias</h1>

    <br />

    <p>
        <a class="btn criar-button" asp-action="Create">
            <span style="vertical-align: middle;">adicionar</span>
        </a>
    </p>
    <br />
    <table class="table" id="index-tables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataApresentacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtPaginas)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Aluno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orientador)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataApresentacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtPaginas)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Aluno.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orientador.Nome)
                    </td>
                    <td>
                        <a class="btn edit-button" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn detalhe-button" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn delete-button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
